<html>
  <head>
    <script src="https://d3js.org/d3.v5.min.js"></script>
  </head>
  <body>
    <div>Another Test</div>
    <div class="root" align="center">
      <svg id="svg1" viewBox="0 0 300 300"
        preserveAspectRatio="xMidYMid meet"
        class="hough-svg"
      ></svg>
      <svg id="svg2" viewBox="0 0 300 300"
        preserveAspectRatio="xMidYMid meet"
        class="hough-svg"
      ></svg>
    </div>

    <div class="root" align="center" style="position: relative">
      <svg id="svg3" viewBox="0 0 300 300"
        preserveAspectRatio="xMidYMid meet"
        class="hough-svg"
      ></svg>
      <div class="hough-svg">
        <svg id="svg4" viewBox="0 0 300 300"
          preserveAspectRatio="xMidYMid meet"
          class="hough-svg"
          style="position: absolute;"
        ></svg>
        <canvas id="mycanvas">
        </canvas>
      <div>
    </div>
  </body>
</html>


<script src="/hough-transform-d3/hough.js">
</script>
<script src="/hough-transform-d3/hough_picture.js">
</script>
